.sidebar {
  width: 100%;
  max-width: 288px;
  height: 100%;
  padding: 32px 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__logo {
    width: 100%;
    padding: 16px;
    display: grid;
    place-items: center;

    img {
      width: 128px;
      height: 43.94px;
    }
  }

  &__title {
    padding: 16px;
    font-size: 17px;
    font-weight: 700;
    color: var(--primary-1);
  }

  .menu {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}
