.container {
  &__form {
    div {
      //   display: grid;
      grid-template-columns: 2fr 3fr 1fr;
    }
  }
}

.dataInput {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 17px;
    font-weight: 700;
    color: var(--neutral-4);

    span {
      color: var(--error);
    }
  }

  input {
    height: 40px;
    padding-inline: 16px;
    color: var(--neutral-4);
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #00000033;
  }
}
