.trainingDetails__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trainingDetails__list th:nth-last-child(1) {
  border-top-right-radius: 0;
}

.trainingDetails__list th:first-child {
  border-top-left-radius: 0;
}
