.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__trigger {
    width: 100%;
    height: 56px;
    padding: 16px;
    background: var(--neutral-3);
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #00000033;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    font-size: 17px;
    color: var(--primary-2);

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);

      path {
        fill: var(--primary-2);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    background: var(--neutral-3);
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #00000033;

    div {
      padding: 16px;
      font-size: 17px;
      font-weight: 400;
      color: var(--primary-2);
      cursor: pointer;
    }
  }
}
