:root {
  --neutral-1: #b3b3b3;
  --neutral-2: #e3dbdb;
  --neutral-3: #ffffff;
  --neutral-4: #000000;

  --primary-1: #001866;
  --primary-2: #123ca6;
  --primary-3: #0a8cf7;
  --primary-4: #31de90;

  --secondary-1: #5212a6;
  --secondary-2: #7712c4;
  --secondary-3: #5f33ff;
  --secondary-4: #0a8cf7;
  --secondary-5: #31de90;
  --secondary-6: #f9de4a;
  --secondary-7: #ff9012;
  --secondary-8: #ed34d1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
small {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
