.home {
  width: 100%;
  height: 100%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header {
    width: 100%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    .header__left {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h1 {
        font-weight: 700;
        font-size: 34px;
        color: var(--neutral-4);
      }

      p {
        font-weight: 400;
        font-size: 17px;
        color: var(--neutral-4);
      }
    }

    .header__right {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }
}
