.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: left;
  cursor: pointer;

  font-weight: 400;
  font-size: 17px;

  &.primaryOne {
    color: var(--neutral-4);

    svg path {
      fill: var(--primary-1);
    }
  }

  &.primaryTwo {
    color: var(--primary-2);

    svg path {
      fill: var(--primary-2);
    }
  }

  &.disabled {
    color: var(--neutral-1);
    cursor: pointer;

    svg path {
      fill: var(--neutral-1);
    }
  }
}
