.container {
  width: 100%;
  padding: 24px 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      padding: 16px;
    }
  }
}
