.modal {
  &__overlay {
    background-color: rgba(0, 24, 102, 0.5);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  &__content {
    background-color: var(--neutral-3);
    border-radius: 8px;
    box-shadow: 0px 5px 20px 0px #00000033;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 784px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__form {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 16px;

      &__item {
        margin-top: 16px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-weight: 700;
          font-size: 17px;
          color: var(--neutral-4);
        }

        input {
          height: 56px;
          padding-inline: 16px;
          background: var(--neutral-3);
          box-shadow: 0px 5px 20px 0px #00000033;
          border-radius: 8px;
        }

        .error {
          color: var(--error);
          font-weight: 700;
        }
      }
    }

    &:focus {
      outline: none;
    }

    button {
      padding: 16px;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid var(--neutral-4);
    padding-bottom: 16px;

    svg {
      cursor: pointer;
      path {
        fill: var(--primary-1);
      }
    }

    font-size: 27px;
    font-weight: 700;
    color: var(--neutral-4);
  }
}

.trigger {
  cursor: pointer;
}

.form__file {
  display: flex;
  align-items: center;
  gap: 8px;

  a {
    align-self: flex-end;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
